
.project

.settings/org.eclipse.core.resources.prefs

build.properties

build.xml

readme.txt

plugins/plugins_goes_here.txt

remote/MyProxy.cfc

robots.txt

settings.xml

test/Application.cfc

test/TestSuite.cfm

test/integration/GeneralTest.cfc

test/integration/MainTest.cfc

test/mocks/mocks_go_here.txt

test/resources/RemoteFacade.cfc

test/unit/unit_tests_go_here.txt

views/homeHelper.cfm

logs/YourAppNamehere.log

interceptors/PutStuffHere.txt

config/coldbox.xml.cfm.bak
